<strong>Olá, {{ user }}</strong>
<p> Um novo pacote de número {{ delivery_id }} foi adicionado para retirada, entre no aplicativo para mais informações.
</p>
Detalhes:
<strong>Produto: </strong> {{ product }} <br /><br />
<strong>Destinatário: </strong> {{ recipient }} <br />
<strong>Endereço: </strong> {{ address }}
